.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.header{
    text-align: center;
    background-color: white;
    padding: 5px 10px;
    border-radius: 5px;
    width: fit-content;
    margin: 10px auto 20px auto;
    font-size: 40px;
}